<%include ../partials/header%>
<%include ../partials/message%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <h4><strong>Comments</strong> <span class="glyphicon glyphicon-comment"></span></h4>

      <%photo.comments.forEach((comment)=>{%>
        <div class="row">
          <div class="col-md-12">
            <strong><%=comment.author.username%></strong>
            <span class="pull-right"><%=moment(comment.created).fromNow()%></span>
            <p><%=comment.text%></p> 
          </div>
        </div>
      <%})%>
        <div class="well comment-editor">
          <h4>Write your comment <span class="glyphicon glyphicon-pencil"></span></h4>
          <form action="/photos/<%=photo._id%>/comments" method="POST" id="add-comment-form">
            <div class="form-group">
              <input class="form-control" type="text" disabled value="<%=currentUser.username%>"> 
            </div>
            <div class="form-group">
              <textarea class="form-control" name="comment[text]" placeholder="Write your comment here..." form="add-comment-form" rows="5" cols="70"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>                
          </form>
        </div>
        <a href="/photos/<%=photo._id%>" class="btn btn-primary btn-sm">Go Back</a>
      </div>
    </div>
  </div>
</div>



<%include ../partials/footer%>