<%include ../partials/header%>
<%include ../partials/message%>

<div class="container">
    <header class="jumbotron">
        <h1><span class="glyphicon glyphicon-camera"></span> Welcome to Coonstagram</h1>
        <p>View all trending photos from all over the world!</p>
        <p>
            <a href="/photos/new">
                <button class="btn btn-success btn-lg">Upload New Photo</button>
            </a>
        </p>
    </header>

    <div class="row text-center flex">
    <% for (var i = 0; i < photos.length; i++) { -%>
        <div class="col-md-3 col-sm-6 photo">
            <div class="thumbnail">
                <img src="<%=photos[i].image%>">
                <div class="caption">
                    <h4><%=photos[i].name%></h4>
                </div>
                <p>
                    <a href="/photos/<%= photos[i]._id %>">
                        <button class="btn btn-info">More Info</button>
                    </a>
                </p>
            </div>
        </div>
    <% } -%>
    </div>

    <div class="row text-center">
      <% if (pages && pages>0) { -%>
        <ul class="pagination text-center">
        <% if (current == 1) { -%>
          <li class="disabled"><a>First</a></li>
          <li class="disabled"><a>Prev</a></li>
        <% } else { -%>
          <li><a href="/photos">First</a></li>
          <li><a href="/photos?page=<%=parseInt(current)-1%>">Prev</a></li>
        <% } -%>
        
        <%let i = Math.max(parseInt(current)-4, 1);%>
        <% if (i!==1) { -%>
          <li class="disabled"><a>...</a></li>
        <% } -%>
          
        <% for (; i <= parseInt(current)+4 && i<=pages; i++) { -%>
          <% if (i==parseInt(current)) { -%>
            <li class="active"><a><%=i%></a></li>
          <% } else { -%>
            <li><a href="/photos?page=<%=i%>"><%=i%></a></li>
          <% } -%>
          <% if (i == parseInt(current)+4 && i<pages) { -%>
            <li class="disabled"><a>...</a></li>
          <% } -%>
        <% } -%>

        <% if (current == pages) { -%>
          <li class="disabled"><a>Next</a></li>
          <li class="disabled"><a>Last</a></li>
        <% } else { -%>
          <li><a href="/photos?page=<%=parseInt(current)+1%>">Next</a></li>
          <li><a href="/photos?page=<%=pages%>">Last</a></li>
        <% } -%>
          
        </ul>
      <% } -%>
    </div>
</div>

<%include ../partials/footer%>